[Unit]
Description=123\SmartBMS to Thingspeak
After=multi-user.target

[Service]
Type=simple
User=michael
WorkingDirectory=/home/michael/smartbms_display
EnvironmentFile=/home/michael/smartbms_display/.env.installed
ExecStart=/home/michael/smartbms_display/.venv/bin/python3 -u -m smartbms --port ${SERIAL_PORT}
StandardOutput=syslog
StandardError=syslog
RestartSec=5s
Restart=always

[Install]
WantedBy=multi-user.target
