@font-face {
  font-family: 'Material Symbols';
  src: url('/static/fonts/MaterialSymbolsOutlined-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.material-symbols {
  font-family: 'Material Symbols';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Nastavte velikost ikon podle potřeby */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
